{% load static %}  

<br>
    <div class="card text-center  rounded mx-auto d-block" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/logo.jpg'%}" alt="Card image cap" class="img-fluid">
        <div class="card-body">
          <h4 class="card-text">IGLESIA CUADRANGULAR RESTAURACION</h4>
        </div>
      </div>
      <br>
      <div class="card text-center">
        <div class="card-body bg-primary text-white">
          <h5 class="card-title">All Rights Reserved</h5>
          <p class="card-text">Designed by: Mike J</p>
        </div>
    </div>
    


  