
 <div
 class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
 <!-- Copyright -->
 <div class="text-white mb-3 mb-md-0">
    Designed by: Mike J. All rights reserved.
 </div>
 <!-- Copyright -->

 <!-- Right -->
 <div>
   <a href="#!" class="text-white mb-3">
     <i class="bi bi-facebook"></i>
   </a>
   <a href="#!" class="text-white mb-3">
     <i class="bi bi-google"></i>
   </a>
   <a href="#!" class="text-white mb-3">
     <i class="bi bi-instagram"></i>
   </a>
 </div>
 <!-- Right -->
</div>