{% extends "./base.html" %}

{% block title %}Listado de Miembros por Ministerios | Hijos{% endblock title %}

{% load static %}  
  
{% block content %}

<div class="container-fluid" > 

 <div class="col-md-12">
        <br>
        <br>
        <br>
        <br>
        <h3>Listado de Miembros por Ministerios | Hijos</h3>  
        <br>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <div class="table-responsive">
        <table id="bootstrapdatatable" class="table table-sm table-hover table-striped table-bordered" width="100%">
        <thead class="thead-dark">
            <tr> 
                <th colspan="2">Informacion de Persona | Hijos</th>
                <th colspan="1">Ministerio</th>
            </tr>
            <tr> 
            <th>Nombre</th>
            <th>Edad</th>
            <th>Nombre</th>
        
        </tr>
        </thead>
        <tbody>

        {% for hijo in hijom_list %}  
        {% for ministerio in hijo.ministry.all %}  
            <tr> 
                <td>{{ hijo.name }}</td>
                <td>{{ hijo.age }}</td>
            
                <td>{{ ministerio.name }}</td>
             </tr>  
    
        {% endfor %} 
        {% endfor %} 

        </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock content %}